---
import '../styles/global.css';

import { Image } from 'astro:assets';
import img25 from '../assets/25.gif';
import snd25 from '../assets/25.mp3';
---

<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>XMAS 25 Greetings by matti</title>
  </head>

  <body>
    <div class="card">

      <!-- Header -->
      <div class="header pixel-box">
        header_tmp
      </div>

      <!-- Main -->
      <main class="main pixel-box">
        <audio id="snd25" src={snd25} preload="auto"></audio>
        <a onclick="document.getElementById('snd25').play();">
          <Image src={img25} alt="" quality="max" layout="full-width" />
        </a>
      </main>

      <!-- Footer -->
      <div class="footer pixel-box">
        footer_tmp
      </div>

    </div>
  </body>

</html>