:root {
    --pal_col01 : #4e1d4c;
    --pal_col02 : #771d50;
    --pal_col03 : #904d57;
    --pal_col04 : #be6a62;
    --pal_col05 : #ac2f45;
    --pal_col06 : #e64639;
    --pal_col07 : #ff8a32;
    --pal_col08 : #f1b640;
    --pal_col09 : #ffc5a3;
    --pal_col10 : #686f9a;
    --pal_col11 : #404974;
    --pal_col12 : #283440;
    --pal_col13 : #3d2935;
    --pal_col14 : #291d2b;
    --pal_col15 : #1b1f22;
    --pal_col16 : #21181b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pal_col15); 
    overflow: hidden;
    color: white;
}

.header, .footer {
    background-color: var(--pal_col04);
    color: var(--pal_col02);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.main {
    display: flex;
    position: relative; 
    align-items: center;
    justify-content: center;
    /* --- */
    border-top: 2.0vh solid var(--pal_col05);
    border-bottom: 2.0vh solid var(--pal_col05);
    border-left: 0vh;
    border-right: 0vh;
    background: var(--pal_col16);
    border-style: ridge;
    box-shadow: 0 0 2vh #686f9a;
}

.pixel-box {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    aspect-ratio: 9 / 16; 
    height: 95svh;
    max-width: 95svw;
    width: auto; 
    position: relative;
    /* --- */
    row-gap: 1.5vh;
    display: grid;
    grid-template-rows: 1fr 11fr 1fr;
    grid-template-areas: "area_header" "area_main" "area_footer";
}

.header { grid-area: area_header;}
.main   { grid-area: area_main;}
.footer { grid-area: area_footer;}
