:root {
    --pal_col00 : #4e1d4c;
    --pal_col01 : #771d50;
    --pal_col02 : #904d57;
    --pal_col03 : #be6a62;
    --pal_col04 : #ac2f45;
    --pal_col05 : #e64639;
    --pal_col06 : #ff8a32;
    --pal_col07 : #f1b640;
    --pal_col08 : #ffc5a3;
    --pal_col09 : #686f9a;
    --pal_col10 : #404974;
    --pal_col11 : #283440;
    --pal_col12 : #3d2935;
    --pal_col13 : #291d2b;
    --pal_col14 : #1b1f22;
    --pal_col15 : #21181b;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--pal_col11); 
    overflow: hidden;
}

.card {
    image-rendering: pixelated;
    position: relative;
    aspect-ratio: 1/2; 
    height: 95svh;
    max-width: 95svw;
    row-gap: 1vh;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: "area_header" "area_main" "area_footer";
}

.header {grid-area: area_header;}
.main   {grid-area: area_main;}
.footer {grid-area: area_footer;}

.main {
    overflow: hidden;
    border-top: 2.0vh solid var(--pal_col04);
    border-bottom: 2.0vh solid var(--pal_col04);
    border-left: 0vh;
    border-right: 0vh;
    border-style: ridge;
    box-shadow: 0 0 2vh #686f9a;
}

.header, .footer {
    display: flex;
    align-items: center;
    height: 100%;
}

.header img, .footer img {
    width: 100%;
    height: auto;
}

.img_wrap {
    position: relative;
    height: 100%;
}

.img_wrap img {
    position: absolute;
    height: 100%;
}

.hidden {
    display: none !important;
}

#id_img_play, #id_img_stop, #id_img_hi, #id_img_25, #id_img_fire {
    position: absolute;
    left: 2%;
    bottom: 14%;
    right: auto;
    height: 6%;
    width: auto;
    object-fit: contain;
    display: block;
    z-index: 1;
    cursor: pointer;
}

#id_img_hi {
    left: auto;
    bottom: 14%;
    right: 2%;
}

#id_img_25 {
    right: auto;
    top: 14%;
    left: 4%;
    height: 7.3%;
    transform-origin: center center;
    transition: transform 200ms ease;
}

#id_img_25:active {
    transform: translateX(20%) translateY(20%) scale(1.2) rotate(-5deg);
}

#id_img_fire {
    left: auto;
    bottom: 36.8%;
    right: 4%;
    height: 15%;
    width: auto;
    cursor: auto;
}