:root {
    --pal_col00 : #4e1d4c;
    --pal_col01 : #771d50;
    --pal_col02 : #904d57;
    --pal_col03 : #be6a62;
    --pal_col04 : #ac2f45;
    --pal_col05 : #e64639;
    --pal_col06 : #ff8a32;
    --pal_col07 : #f1b640;
    --pal_col08 : #ffc5a3;
    --pal_col09 : #686f9a;
    --pal_col10 : #404974;
    --pal_col11 : #283440;
    --pal_col12 : #3d2935;
    --pal_col13 : #291d2b;
    --pal_col14 : #1b1f22;
    --pal_col15 : #21181b;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--pal_col11); 
    overflow: hidden;
}

.main {
    /* display: flex; */
    /* --- */
    border-top: 2.0vh solid var(--pal_col04);
    border-bottom: 2.0vh solid var(--pal_col04);
    border-left: 0vh;
    border-right: 0vh;
    background: var(--pal_col15);
    border-style: ridge;
    box-shadow: 0 0 2vh #686f9a;
}

.card {
    aspect-ratio: 1/2; 
    height: 95svh;
    max-width: 95svw;
    width: auto; 
    position: relative;
    /* --- */
    row-gap: 1.5vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "area_header" "area_main" "area_footer";
}

.header {grid-area: area_header;}
.main   {grid-area: area_main;}
.footer {grid-area: area_footer;}

.pixel-box {
    image-rendering: pixelated;
    display: flex;
}

img {
    width: 100%;
}