---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>XMAS Greetings Collections by matti</title>
  </head>
  <body>
    <a class="class25" href="25/SW">25</a>
  </body>
  <style>
    body {
      margin: 0px;
      background-color: rgb(2, 6, 41);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    .class25 {
      text-align: center;
      vertical-align: middle;
      color: gold;
      font-family: 'Courier New', Courier, monospace;
      font-size: 64px;
      text-shadow: 3px 3px purple; 
    }
  </style>
</html>
