<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>XMAS Greetings Collections by matti</title>
    <style>
      body {
        margin: 0px;
        background-color: rgb(2, 6, 41);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100svh;
      }
      .class25 {
        background-image: url('25.gif');
        background-size: 200px;
        height: 200px;
        width: 200px;
      }
    </style>
  </head>
  <body>
    <a class="class25" href="25/SW"></a>
  </body>
</html>